.journalpage-main {
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: cursive;
}

.journalpage-header {
    background-color: navajowhite;
    width: 95%;
    margin: auto;
    border-radius: 10px;
    padding: 10px;

}

.header-title {
    border-radius: 10px;
    background-color: whitesmoke;
    padding-left: 10px;
}

.journalpage-contents {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.journalpage-entries {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.secondary-stuff {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.journalpage-albums {
    background-color: navajowhite;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.buttons {
    background-color: navajowhite;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}
