.state-profile {
    margin: auto;
    padding-top: 100px;
    padding-right: 50px;
    display: flex;
    align-items: space-between;
}

.state-profile-main {
    width: 45%;
    height: 100vh;
    float :left;
}

.state-profile-sect {
    width: 45%;
    height: 100vh;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 20px;
    font-family: cursive;
}


.rsns {
    border-radius: 10px;
    background-color: #e3f2fd;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rsn {
    background-color: inherit;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
}

.atts {
    background-color: #e3f2fd;
    border-radius: 10px;
    color: black;
    text-align: center;

}

.attract {
    background-color: inherit;
    color: black;
    text-align: center;
}

.state {
    border: 5px solid black;

}

.flag img{
    border: 2px solid black;
}



